.logo-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.logo-tagline {
  font-size: 1.1em;
  color: #666; 
  margin-top: 10px; 
  text-align: center; 
  font-style: italic;
}